.follower-avatar {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}
.followers-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 4px;
}

.followers-container {
  overflow: auto;
  height: 150px;
}
.follower-username {
  margin-right: 5px;
}

.follower-info {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.follow-button {
  margin-right: 10px;
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  border-radius: 12px;
  padding: 4px;

  cursor: pointer;
}

.followers-list-title {
  margin-bottom: 15px;
}
