.post {
  max-width: 600px;
  margin-left: 350px;
  background-color: #fff;
  margin-bottom: 50px;
  border-radius: 2%;
  padding-top: 15px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-header-avatar {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  margin-right: 24px;
  margin-left: 24px;
}

.post-header-author {
}
.post-image {
}

.post-information {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);

  padding: 15px;
}
.post-caption {
  margin-right: 10px;
  font-weight: bold;
  font-style: italic;
}
.post-like {
}
