.leave-comment {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
}

.comment-button {
  background-color: white;
  color: black;
  border: 2px solid #008cba;
  border-radius: 12px;
  padding: 10px;
  margin-left: 450px;
  margin-bottom: 15px;
  cursor: pointer;
}
